<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.contextcapture.audio</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/hr-svp-mac12/Library/Mobile Documents/com~apple~CloudDocs/Work Automation/Scripting/audio_capture.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/hr-svp-mac12/Library/Mobile Documents/com~apple~CloudDocs/Work Automation/Scripting</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/hr-svp-mac12/Library/Mobile Documents/com~apple~CloudDocs/Work Automation/Scripting/logs/audio_capture.out</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/hr-svp-mac12/Library/Mobile Documents/com~apple~CloudDocs/Work Automation/Scripting/logs/audio_capture.err</string>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>LowPriorityIO</key>
    <true/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>